<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="./bootstrap/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- handlebars JavaScript -->
    <script type="text/javascript" src="./handlebars/lib/handlebars-v4.2.0.js"></script>
    
    <!-- original JavaScript -->
    <script src="./js/commuter.js"></script>
    <script src="./js/function.js"></script>

    <title>Chunta Kakeibo</title>
  </head>
  <body>
    <!-- ログイン時に払い出されるtoken -->
    <input type="hidden" id="token" value="" />
    <!-- ログイン時に入力したuserId -->
    <input type="hidden" id="hidden_userId" value="" />
    <!-- 検索条件 -->
    <input type="hidden" id="last_chk_yearmonth" value="{{chk_yearmonth}}" />
    <input type="hidden" id="last_chk_categolly" value="{{chk_categolly}}" />
    <input type="hidden" id="last_find_categolly" value="{{last_find_categolly}}" />
    <input type="hidden" id="last_find_year" value="{{last_find_year}}" />
    <input type="hidden" id="last_find_month" value="{{last_find_month}}" />
    <input type="hidden" id="last_find_sort" value="{{last_find_sort}}" />
    
    <div id="contents">
    </div>
  </body>
</html>